Create Database QuanLyBanHang
use QuanLyBanHang

Create table NhaSanXuat
(
	MaNSX int identity primary key,
	TenNSX nvarchar(100),
	ThongTin nvarchar(255),
	Logo nvarchar(MAX)	
)
select *from NhaSanXuat
insert into NhaSanXuat(TenNSX,ThongTin,Logo) values(N'SamSung','','')
insert into NhaSanXuat(TenNSX,ThongTin,Logo) values(N'SoNy','','')
insert into NhaSanXuat(TenNSX,ThongTin,Logo) values(N'LG','','')
Create table NhaCungCap
(
	MaNCC int identity primary key,
	TenNCC nvarchar(100),
	DiaChi nvarchar(255),
	Email nvarchar(255),
	DienThoai varchar(12),
	Fax nvarchar(50)
	
	
)
select *from NhaCungCap
insert into NhaCungCap(TenNCC,DiaChi,Email,DienThoai,Fax) values(N'Japan','127/7 Bình Chánh','abc@gmail.com','0457234','')
insert into NhaCungCap(TenNCC,DiaChi,Email,DienThoai,Fax) values(N'Bình Chánh','123/3 Ngô Tất Tố','khanh123@gmail.com','01234566','')
insert into NhaCungCap(TenNCC,DiaChi,Email,DienThoai,Fax) values(N'United states of america','123/321 iraq','ccc@gmail.com','','01547333')

Create table PhieuNhap
(
	MaPN int identity primary key,
	MaNCC int references NhaCungCap(MaNCC),
	NgayNhap datetime,
	DaXoa bit
)
Create table LoaiThanhVien
(
	MaLoaiTV int identity primary key,
	TenLoai nvarchar(50),
	UuDai int 
)
Create table ThanhVien
(
	MaThanhVien int identity primary key,
	MaLoaiTV int references LoaiThanhVien(MaLoaiTV),
	TaiKhoan nvarchar(100),
	MatKhau nvarchar(100),
	HoTen nvarchar(100),
	DiaChi nvarchar(100),
	Email nvarchar(255),
	SoDienThoai varchar(12),
	CauHoi nvarchar(max),
	CauTraLoi nvarchar(max)
)
Create table KhachHang
(
	MaKH int identity primary key,
	TenKH nvarchar(100),
	DiaChi nvarchar(100),
	Email nvarchar(255),
	SoDienThoai varchar(12),
	MaThanhVien int references ThanhVien(MaThanhVien)	
)

Create table SanPham
(
	MaSP int identity primary key,
	TenSP nvarchar(255),
	DonGia decimal(18,0),
	NgayCapNhat datetime,
	CauHinh nvarchar(Max),
	MoTa nvarchar(max),
	HinhAnh nvarchar(max),
	SoLuongTon int,
	LuotXem int,
	LuotBinhChon int,
	SoLanMua int,
	Moi int,
	MaNCC int references NhaCungCap(MaNCC),
	MaNSX int references NhaSanXuat(MaNSX),
	MaLoaiSP int references LoaiSanPham(MaLoaiSP),
	DaXoa  bit
)
select *from SanPham
select *from LoaiSanPham
select *from NhaSanXuat
--ĐIỆN THOẠI SAM SUNG
insert into SanPham (TenSP,DonGia,NgayCapNhat,CauHinh,MoTa,HinhAnh,SoLuongTon,LuotXem,LuotBinhChon,SoLanMua,Moi,MaNCC,MaNSX,MaLoaiSP,DaXoa) values(N'Samsung Galaxy A9 Pro',11990000,'12/5/2016','',N' Ấn tượng nhất trên sản phẩm chính là viên pin 5.000 mAh, là viên pin trên smartphone có dung lượng lớn nhất thời điểm hiện tại. Cùng với công nghệ sạc nhanh Quick Charge của Qualcomm thì có thể nói Galaxy A9 Pro như một điện thoại kèm thiết bị sạc di động, bạn sẽ không cần lo lắng suốt một ngày dài với thời lượng sử dụng cao.','636029925010157700_a9-g1.jpg',100,'','','',1,2,1,1,'')
--ĐIỆN THOẠI SONY
--ĐIện thoại Nokia
--Máy tính bảng
--Apple
--SamSung
--Asus




---LapTop
--LaptopDell
--LAPTOP HP
--LapTop Apple
--Laptop Accer
--Điện thoại HTC


select*from SanPham
select*from NhaSanXuat
select*from  LoaiSanPham










Create table LoaiSanPham
(
	MaLoaiSP int identity primary key,
	TenLoai nvarchar(100),
	Icon nvarchar(max),
	BiDanh nvarchar(50)
)
select *from LoaiSanPham
insert into LoaiSanPham(TenLoai,Icon,BiDanh) values(N'Điện thoại','','')
insert into LoaiSanPham(TenLoai,Icon,BiDanh) values(N'Máy tính bảng','','')
insert into LoaiSanPham(TenLoai,Icon,BiDanh) values(N'Laptop','','')


--drop table LoaiSanPham
Create table ChiTietPhieuNhap
(
	MaChiTietPN int identity primary key,
	MaPN int references PhieuNhap(MaPN),
	MaSP int references SanPham(MaSP),
	DonGiaNhap decimal(18,0),
	SoLuongNhap int
	
)
Create table DonDatHang
(
	MaDDH int identity primary key,
	NgayDat datetime,
	TinhTrangGiaoHang bit,
	NgayGiao datetime,
	DaThanhToan bit,
	MaThanhVien int references ThanhVien(MaThanhVien),
	UuDai int
)
Create table ChiTietDonDatHang
(
	MaChiTietDDH int identity primary key,
	MaDDH int references DonDatHang(MaDDH),
	MaSP int references SanPham(MaSP),
	TenSP nvarchar(255),
	SoLuong int,
	DonGia decimal(18,0)
	
)
Create table BinhLuan
(
	MaBL int identity primary key,
	NoiDungBL nvarchar(max),
	MaThanhVien int references ThanhVien(MaThanhVien),
	MaSP int references SanPham(MaSP)
)
create table QuanLy
(
	TenTK varchar(20) primary key,
	Pass varchar(20),
	HoTen nvarchar(20)
)
select DATEPART(mm,d.NgayDat),sum(SoLuong* c.DonGia) as [số lượng]
from DonDatHang d, ChiTietDonDatHang c, SanPham s
where d.MaDDH=c.MaDDH and  c.MaSP= s.MaSP
group by DATEPART(mm,d.NgayDat)

 select  s.TenSP
 from SanPham s, ChiTietDonDatHang ct
 where s.MaNSX = ct.MaSP