@using WepSiteBanHang.Models;
@model IEnumerable<SanPham>

<div class="product-one">
    @foreach (var item in Model.Take(6))
    {
        <div class="col-md-3 product-left p-left"  style="padding:1px;margin:10px">
            <div class="product-main simpleCart_shelfItem">
                <a href="@Url.Action("XemChiTiet","SanPham",new { id=item.MaSP})" class="mask"><img src="@Url.Content("~/Content/HinhAnhSP/"+item.HinhAnh)  " style="width:150px;height:150px" alt=""></a>
                <div class="product-bottom">
                    <h3>@item.TenSP</h3>
                   
                    <a style="margin:1% 30% 0;" onclick="AddToCart('@item.MaSP')" class="btn hvr-radial-in"><strong>Thêm Vào Giỏ</strong></a>
                </div>
                <div class="srch">
                    <span>-50%</span>
                </div>
            </div>
        </div>
    }
</div>